<!DOCTYPE html>
<html>
  <head>
    <title>Fritter</title>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">    <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/javascripts/handlebars.runtime-v4.0.2.js"></script>
    <script src="/javascripts/templates.js"></script>
    <script src="/javascripts/helpers.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/users.js"></script>
    <script src="/javascripts/freets.js"></script>
  </head>
  <body>

  <nav class=" light-blue lighten-1">
    <div class="nav-wrapper">
      <div class = "container">
      <a href="#" class="brand-logo">Fritter</a>
      <!-- <form>
      <div class="input-field">
        <input id="search" type="search" required>
        <label for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form> -->
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="">Home</a></li>
      </ul>
    </div>
    </div>
  </nav>

    <div id="main-container"></div>
  </body>
</html>
