body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

table{
    table-layout: fixed;
}
td{
    word-wrap:break-word
}

h1 {
  font-size: 1.2em;
}

a {
  color: #00B7FF;
}

.error {
  color: red;
  margin-bottom: 10px;
}

#user_error {
  color: red;
}
.note {
  margin: 16px 0;
}

.note p {
  margin: 4px 0;
}

#main-container {
	padding-left: 50px;
	padding-top: 50px;
}

#footer {
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}

#main_title {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 200px;
}


  /* label color */
   .input-field label {
     color:  #1565c0;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color:  #1565c0;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid  #1565c0;
     box-shadow: 0 1px 0 0  #1565c0;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid  #1565c0;
     box-shadow: 0 1px 0 0 #1565c0;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid  #1565c0;
     box-shadow: 0 1px 0 0  #1565c0;
   }

   .input-field input[type=password]:focus + label {
     color:  #1565c0;
   }
   /* label underline focus color */
   .input-field input[type=password]:focus {
     border-bottom: 1px solid  #1565c0;
     box-shadow: 0 1px 0 0  #1565c0;
   }
   /* valid color */
   .input-field input[type=password].valid {
     border-bottom: 1px solid  #1565c0;
     box-shadow: 0 1px 0 0 #1565c0;
   }
   /* invalid color */
   .input-field input[type=password].invalid {
     border-bottom: 1px solid  #1565c0;
     box-shadow: 0 1px 0 0  #1565c0;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #1565c0;
   }
