<div id="freets" class = "container">

  <div class = "row">


  <div class = "col s4">
    <a href="#" id="logout-link" class="waves-effect waves-light btn blue darken-3" style = "margin-bottom: 0px">
      Logout
    </a>
  </div>

<div class = "col s8 right-align">
  <form class = "right-align">
      <div class="input-field" style = "width: 200px; display: inline-block;">
      <label for="goto-user-input">Visit a page</label>
      <input type="text" id="goto-user-input" autocomplete="off"/>
    </div>
    <div class="input-field" style = "display: inline-block;">
      <button id="goto-user" class="waves-effect waves-light btn blue darken-3">Go to User</button>
    </div>
  </form>
</div>

</div>

<div style = "height: 20px"></div>

  <div class = "center-align" style ="font-size: 30px">Welcome, @{{currentUser}}! </div>

  <div>
    <div class="error"><br/></div>
    <div class="input-field">
    <label for="new-freet-input">What do you have to say?</label>
    <input type="text" id="new-freet-input" length = "170"/>
  </div>
    <button id="submit-new-freet" class="waves-effect waves-light btn blue darken-3">Add Freet</button>
  </div>

  <div class="center-align" style = "font-size: 24px">My Freets</div>
  <table class = "highlight">
  {{#each freets}}
    {{> freet}}
  {{else}}
    <p><em>You haven't posted any freets yet!</em></p>
  {{/each}}
</table>
</div>
