<div id="homepage" class = "center-align">
  <div id = "main_title" class ="blue-text text-darken-4">Fritter</div>
  <div class = "center-align" style = "font-size: 25px">Welcome to Fritter! <br/> You must be signed in to continue.</div>
  <br/> <br/>
  <button id="signin-btn" class="waves-effect waves-light btn blue darken-3">Sign in</button>
  <button id="register-btn" class="waves-effect waves-light btn blue darken-3">Register</button>
  <br/> <br/>
  <div style = "font-size: 18px; width: 40%; margin: auto;"> Here is a list of all users on fritter right now!
    <br/>
    {{users}}
  </div>
</div>
