<div id="freets">

  <a href="#" id="home-link" class="waves-effect waves-light btn orange lighten-2"><i class="material-icons left">arrow back</i> Back to Home</a>
  <p>This user {{user}} </p>
  <h1>This User's Freets</h1>

  {{#each freets}}
    {{> freet}}
  {{else}}
    <p><em>This user has no freets!</em></p>
  {{/each}}

</div>
