<div id="register" style = "width: 50%; margin: auto">
  <a href="#" id="home-link" class="waves-effect waves-light btn blue darken-3"><i class="fa fa-chevron-left"></i> Back to Home</a>
  <h1 style = "font-size: 28px">Register</h1> <br/>
  <div class="error">
    {{#if error}}
      {{error}}
    {{/if}}
  </div>
  <form id="register-form">
    <div class="input-field">
      <input type="text" name="username" id = "usernamefield" required />
       <label for="usernamefield">Username</label>
     </div>
     <div class="input-field">
       <input type="password" name="password" id="passwordfield" required />
        <label for="passwordfield">Password</label>
      </div>
      <div class="input-field">
        <input type="password" name="confirm" id="passwordconfirmfield" required />
         <label for="passwordconfirmfield">Confirm Password</label>
       </div>
       <button class="btn waves-effect waves-light blue darken-3" type="submit">Submit</button>
  </form>
</div>
