<div id="signin" style = "width: 50%; margin: auto">
  <a href="#" id="home-link" class="waves-effect waves-light btn orange lighten-2"><i class="fa fa-chevron-left"></i> Back to Home</a>
  <h1>Sign in</h1>
  <div class="error">
    {{#if error}}
      {{error}}
    {{/if}}
  </div>
  <form id="signin-form">
    <div class="input-field col s6">
      <div class="input-field">
        <input type="text" name="username" id = "usernamefield" required />
         <label for="usernamefield">Username</label>
       </div>
       <div class="input-field">
         <input type="password" name="password" id="passwordfield" required />
          <label for="passwordfield">Password</label>
        </div>
     <button class="btn waves-effect waves-light" type="submit">Submit</button>
    </div>
  </form>
</div>
